.sideBar {
    box-sizing: border-box;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 60px;
    transition: width 1s;
}

.sidebar-show {
    width: 45%;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn:hover {
    font-size: 40px;
    color: darkred;
}

.hiddenRow {
    padding: 0 4px !important;
    background-color: #eeeeee;
    font-size: 13px;
}

.directn-desc {
    transform: rotateX(180);
    -webkit-transform: rotateX(180);
    -ms-transform: rotateX(180);
    transition: transform 1.5s;
}

.directn-asc {
    transform: rotateX(-180deg);
    -webkit-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    transition: transform 1.5s;
}

.hidden {
    visibility: hidden;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
}

.directn {
    display: inline-block;
}